<h1>Chat room</h1>

<div id="messages" style="height: 400px; overflow-y: scroll">
  <%= render @messages %>
</div>

<%= form_with url: messages_path, method: :post do |form| %>
  <label>Say something:</label><br>
  <%= form.text_field :body, id: 'message', name: "message[body]" %>
  <%= form.submit "Send", data: { disable_with: false } %>
<% end %>
