<div class="shadow p-3 mb-5 bg-white rounded text-center">
  <div class="d-flex justify-content-center">
    <div class="col-8">
        <h2>Sign Up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "sample@email.com",
                                    autocomplete: "email", class: "form-control m-2" %>
          </div>
          <div class="field">
            <%= f.password_field :password, placeholder: "Password",
                          autocomplete: "current-password", class: "form-control m-2" %>
          </div>
          
        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password",
                          autocomplete: "new-password", class: "form-control m-2" %>
        </div>
          <div class="actions">
            <%= f.submit "Sign Up", class: "btn btn-md btn-info text-muted w-75" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
