<% if !@tasks.empty? %>
  <%= link_to 'Create new', '#', class: "btn btn-primary btn-sm mb-3", data: { toggle: "modal", target: "#task_modal" } %>
  <div class="accordion" id="tasks_accordion">
    <div class="card">
        <% @tasks.each do |task| %>
          <%= render partial: 'tasks/partials/task_item',
              locals: { task: task, sub_tasks: task.sub_tasks } %>
        <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <%== pagy_bootstrap_nav(@pagy)%>
  </div>
<% else %>
  <div class="alert alert-secondary text-center" role="alert">
    No Tasks yet, <%= link_to "Create now", new_task_path, data: {toggle: "modal", target: "#task_modal"} %>.
  </div>
<% end %>



<%= render 'tasks/partials/modal' %>