<div id="task_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with url: tasks_path, id: 'task_form', method: :post do |form| %>
        <div class="modal-body">
          <div class="form-group">
            <%= form.text_field :description, id: "task_description", name: "task[description]", class: "form-control", placeholder: "Description", required: true %>
          </div>
          <div id="sub_tasks_container" class="pt-2">
          </div>
          <button type="button" id="add_sub_task" class="btn btn-info btn-sm mt-3">Add Sub-task</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit "Save changes", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="sub_task_input" hidden>
  <div class="input-group m-2">
    <div class="input-group-prepend">
      <span>|_____</span>
    </div>
    <input type="text" name="task[sub_tasks_attributes][][description]" class="form-control ml-4" placeholder="Sub-task">
  </div>
</div>
<%= hidden_field_tag :_method, 'patch', id: "update_field" %>