<div class="card-header" id="heading_<%= task.id %>">
  <h2 class="mb-0">
    <div class="row d-flex justify-content-between">
      <span class="p-1 w-75">
        <div class="row d-flex justify-content-between">
          <span class="h6 ml-3 text-truncate w-50" title="<%= task.description %>">
            <%= task.description %>
          </span>
          <% if task.status.last.display == "Done" %>
            <i class="fa fa-check text-success" aria-hidden="true"></i>
          <% end %>
        </div>
      </span>
      <div class="row mr-3">
        <%= link_to "#", remote: true, class: "edit_task", data: {id: task.id,
                                            description: task.description} do %>
          <i class="fa fa-edit text-muted m-1 small"></i>
        <% end %>
        <% if !task.sub_tasks.empty? %>
          <%= link_to '#', remote: true do %>
            <i class="fa fa-caret-down text-muted m-1 small" data-toggle="collapse"
                                      data-target="#collapse_<%= task.id %>"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </h2>
</div>
<div id="collapse_<%= task.id %>" class="collapse" aria-labelledby="heading_<%= task.id %>"
                                                            data-parent="#tasks_accordion">
  <div class="card-body">
    <% if !sub_tasks.empty? %>
      <span class="h6 text-muted">Sub Tasks</span>
      <hr>
        <div class="row">
          <% sub_tasks.each do |sub_task| %>
            <div class="col-12">
              <div class="d-flex justify-content-between">
                <div class="m-1">
                  <%= sub_task.description %>
                </div>
                <div class="text-center">
                  <% if sub_task.status.last.display == "Pending" %>                  
                      <button class="btn btn-sm btn-outline-warning mr-3"><%= sub_task.status.last.display %></button>
                      <%= link_to next_status_sub_task_path(sub_task), method: :next_status,
                                    data: {id: task.id, description: task.description} do %>
                        <i class="fa fa-arrow-right text-muted m-1 small"></i>
                      <% end %>
                      <%= link_to sub_task_path(sub_task), method: :delete,
                                    data: {id: task.id, description: task.description} do %>
                        <i class="fa fa-trash text-muted m-1 small"></i>
                      <% end %>
                  <% elsif sub_task.status.last.display == "Ongoing" %>

                      <button class="btn btn-sm btn-outline-info mr-3"><%= sub_task.status.last.display %></button>
                      <%= link_to revert_status_sub_task_path(sub_task), method: :revert_status,
                                    data: {id: task.id, description: task.description} do %>
                        <i class="fa fa-arrow-left text-muted m-1 small"></i>
                      <% end %>
                      <%= link_to next_status_sub_task_path(sub_task), method: :next_status,
                                    data: {id: task.id, description: task.description} do %>
                        <i class="fa fa-arrow-right text-muted m-1 small"></i>
                      <% end %>
                  <% else %>
                      <button class="btn btn-sm btn-outline-success mr-3"><%= sub_task.status.last.display %></button>
                      <%= link_to revert_status_sub_task_path(sub_task), method: :revert_status,
                                    data: {id: task.id, description: task.description} do %>
                        <i class="fa fa-arrow-left text-muted m-1 small"></i>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>