<div class="shadow p-3 mb-5 bg-white rounded text-center">
  <div class="d-flex justify-content-center">
    <div class="col-8">
        <h2>Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "sample@email.com",
                                    autocomplete: "email", class: "form-control m-2" %>
          </div>
          <div class="field">
            <%= f.password_field :password, placeholder: "Password",
                          autocomplete: "current-password", class: "form-control m-2" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-md btn-info text-muted w-100" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
