<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if controller_name != 'sessions' && controller_name != 'registrations' %>
      <%= render 'layouts/header' %>
    <% end %>
    <div class="container pt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-6">
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
